@media screen and (max-width: 992px) {
  .top-bar {
    display: none;
  }
  nav .btn {
    display: none !important;
    opacity: 0;
  }
  footer .row {
    display: inline-block !important;
    width: 100%;
  }
  .services .icon-col img {
    visibility: hidden;
  }
  .about {
    display: inline-block !important;
  }
  .about .row-btn {
    margin-left: -50%;
  }
  .about h2 {
    position: absolute;
    width: fit-content;
    margin: auto;
  }
  .talk .row-paragraph {
    position: absolute;
    margin-left: 10% !important;
  }
  .rectangle {
    top: 1135vh;
  }
  .about .row-paragraph {
    margin-left: -12% !important;
    padding: 21.3%;
  }
  .talk .button {
    margin-left: 11%;
  }
  footer .row {
    display: inline-block;
  }
  .services .icon {
    margin-top: -4% !important;
  }
}

@media screen and (max-width: 772px) {
  .project .text-container {
    width: 58.4%;
  }
  .services .icon {
    margin-top: -5% !important;
    margin-left: 4% !important;
  }
  .services .row {
    display: inline-block !important;
  }
  .services h2 {
    margin-top: -21%;
    font-size: 50px;
    font-weight: 700;
    padding: 0% 12%;
  }
  .services .container {
    padding-top: 20% !important;
    text-align: center;
  }
  span {
    visibility: hidden;
  }
  .services .read {
    margin: 0% 33%;
    padding: 0;
  }
  .services .icon {
    margin: 0%;
    padding: 0%;
  }
  .about .text br,
  .text-about br,
  .talk br {
    content: "";
  }
  .about h2 {
    margin-top: -32%;
    font-size: 50px;
    font-weight: 700;
    padding: 0% 12%;
    margin-left: -14%;
  }
  .about .row {
    display: inline-block !important;
  }
  .about .row {
    text-align: center;
  }
  .about .btn {
    width: fit-content;
  }
  .text-about {
    margin-left: -7%;
    margin-top: -55%;
  }
  .about .text,
  .text-about {
    width: 90vh !important;
    text-align: left;
  }
  .about .row .btn {
    margin-top: -96vh !important;
    margin-left: -18vh !important;
  }
  .about .im-about {
    margin-left: -11% !important;
    position: absolute;
    display: block;
    margin-top: -34% !important;
  }
  .about .start_year {
    margin-top: 7%;
    margin-left: 0.5%;
    height: 22vh;
  }
  .about .start_year {
    height: 22vh;
  }
  .project .column-container {
    display: flex !important;
    justify-content: left;
    margin-left: -30%;
  }
  .talk h2 {
    font-size: 50px;
    font-weight: 700;
    margin-left: -10%;
  }
  .talk .row {
    display: inline-block !important;
    width: 100%;
  }
  .talk .text {
    margin-left: 4%;
  }
  .talk .buttn {
    width: fit-content;
    margin-left: -87%;
  }
  .talk,
  .about {
    margin: 0;
    padding: 0;
  }
  .about .row-btn {
    width: 34% !important;
  }
  .top-bar {
    display: none;
  }
  nav .btn {
    display: none !important;
    opacity: 0;
  }
  nav .logo {
    src: url("../img/loder-logo.png") !important;
  }
  header .text {
    font-size: 44px;
  }
  .wave-text h1 {
    font-size: 44px;
    right: -120px;
  }
  header .span {
    font-size: 18px;
    top: 150px;
    right: 10px;
  }
  .rectangle .api-part, .rectangle .rec-one{
    padding: 0px;
    margin-left: -18%;
  }
  .rectangle h5{
    visibility: hidden;
  }
  .rectangle span{
    visibility: visible;
  }
  .rectangle .api-part{
    margin-left: -24%;
  }
  .rectangle .b-num, .block-num , .h-block{
    width: 10% !important;
    text-align: left !important;
    padding-left: -4% !important;
  }
  .rectangle .h-block{
    margin-left: 19%;
  }
}
