<<<<<<< HEAD
@media screen and (max-width: 992px) {
  .top-bar {
    display: none;
  }
  nav .btn {
    display: none !important;
    opacity: 0;
  }
  footer .row {
    display: inline-block !important;
    width: 100%;
  }
  .services .row {
    display: inline-block !important;
  }
=======
@media  screen and (max-width: 992px) {
  .top-bar{
    display:none;
  
 
   }
   nav .btn{
     display:none !important;
     opacity:0;
   }
   footer .row {
    display: inline-block !important;
     width: 100%;
    
   }
>>>>>>> 4a846bdadfc404149ef4ad402233b319398b2040
}

@media screen and (max-width: 772px) {
  .services .row {
    display: inline-block !important;
  }
  .services h2 {
    margin-top: -21%;
    font-size: 50px;
    font-weight: 700;
    padding: 0% 12%;
  }
  .services .container {
    padding-top: 20% !important;
    text-align: center;
  }
  span {
    visibility: hidden;
  }
  .services .read {
    margin: 0% 33%;
    padding: 0;
  }
  .services .icon {
    margin: 0%;
    padding: 0%;
  }
  .about h2 {
    margin-top: -52%;
    font-size: 50px;
    font-weight: 700;
    padding: 0% 12%;
  }
  .about .row {
    display: inline-block !important;
  }
  .about img,
  .about .start_year {
    visibility: hidden;
  }
  .about .row {
    text-align: center;
  }
  .about .btn {
    width: fit-content;
  }
  .talk h2 {
    font-size: 50px;
    font-weight: 700;
    margin-left: auto;
  }
  .talk .row {
    display: inline-block !important;
  }
  .talk .buttn {
    width: fit-content;
    margin-left: -58%;
  }
  .talk,
  .about {
    margin: 0;
    padding: 0;
  }
<<<<<<< HEAD
  .top-bar {
    display: none;
=======
  .top-bar{
    display:none;
  
 
   }
   nav .btn{
     display:none !important;
     opacity:0;
   }
   nav .logo{
    src:url("../img/loder-logo.png") !important;
   }
   header .text{
    font-size:44px;
   }
   .wave-text h1{
    font-size:44px;
    right:-120px;
   }
   header .span{
    font-size:18px;
    top:150px;
    right:10px;
   }

  
>>>>>>> 4a846bdadfc404149ef4ad402233b319398b2040
  }
  nav .btn {
    display: none !important;
    opacity: 0;
  }
  nav .logo {
    src: url("../img/loder-logo.png") !important;
  }
  header .text {
    font-size: 44px;
  }
  .wave-text h1 {
    font-size: 44px;
    right: -120px;
  }
  header .span {
    font-size: 18px;
    top: 150px;
    right: 10px;
  }
}
