@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ########### public style ########### */
.services .container{
    position: relative;
}
.services h2{
    color: #0e132a;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    font-family: "Teko",sans-serif;
    z-index: 2;
}
.services span{
    font-size: 140px;
    font-weight: 800;
    margin: 0;
    line-height: 1;
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    left: 1.9%;
    color: transparent;
    -webkit-text-stroke: 1px #f6f7f8;
    z-index: 1;
}
.col {
    position: relative;
    margin-top: 14%;
    margin-right: 1.5%;
    padding: 0 !important;
    background: #fcfdff;
    height:auto;
    overflow: hidden;
}
.services img{
    width: 100% !important;
    transform: scale(1); 
    transition: 0.5s all ease-in-out;
}
.col:hover img{
    transform: scale(1.1); 
}
.services a{
    color: #0e132a;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 5%;
    transition: 0.55s;
}
.services a:hover{
    color: #ff5f13;
}
.zoom{
    width: 100%;
    overflow: hidden;
}
.services .text-read, i{
    color: #161e46;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.services i{
    color: #161e46;
    background: transparent;
    text-align: center;
    font-size: 15px;
    transition: 0.7s;
}
.services .read:hover .icon{
    background-color: #ff5f13;
}
.services .read:hover i{
    color: #fcfdff;
}
.services .icon{
    transition: 0.7s;
    margin-left: 7%;
    margin-top: -3% !important;
}