@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600&family=Teko:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #212529;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}
/* ########### public style ########### */
li {
  list-style: none;
}
/**Loader style **/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ff5f13;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: white;
}
/*Move to top style */
.move-top {
  background-color: #ff5f13;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px 20px;
  z-index: 999;
  opacity: 0;
  transition: 0.3s;
}

.move-top:hover {
  cursor: pointer;
}
/**Add top margin between header and services section **/
.services {
  margin-top: 100px;
}
.services .container {
  position: relative;
}
.services h2,
.project h2 {
  color: #0e132a;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  font-family: "Teko", sans-serif;
  z-index: 2;
}
.team h2 {
  color: #0e132a;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  font-family: "Teko", sans-serif;
  z-index: 2;
  margin-left: 6%;
}
.services span {
  font-size: 140px;
  font-weight: 800;
  margin: 0;
  line-height: 1;
  position: absolute;
  transform: translateY(-50%);
  right: 0;
  left: 1.9%;
  color: transparent;
  -webkit-text-stroke: 1px #f6f7f8;
  z-index: 1;
}
.project span,
.team .team-span {
  font-size: 140px;
  font-weight: 800;
  margin: 0;
  line-height: 1;
  position: absolute;
  transform: translateY(-50%);
  right: 0;
  left: 11.9%;
  color: transparent;
  -webkit-text-stroke: 1px #f6f7f8;
  z-index: 1;
}
.services .col {
  position: relative;
  margin-top: 14%;
  margin-right: 1.5%;
  padding: 0 !important;
  background: #fcfdff;
  height: auto;
  overflow: hidden;
}
.services img {
  width: 100% !important;
  transform: scale(1);
  transition: 0.5s all ease-in-out;
}
.services .col:hover img {
  transform: scale(1.1);
}
.services a {
  color: #0e132a;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 5%;
  transition: 0.55s;
}
.services a:hover {
  color: #ff5f13;
}
.zoom {
  width: 100%;
  overflow: hidden;
}
.services .text-read,
i {
  color: #161e46;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.services i {
  color: #161e46;
  background: transparent;
  text-align: center;
  font-size: 15px;
  transition: 0.7s;
}
.services .read:hover .icon {
  background-color: #ff5f13;
}
.services .read:hover i {
  color: #fcfdff;
}
.services .icon {
  transition: 0.7s;
  margin-left: 7%;
  margin-top: -3% !important;
}
.services .icon-col {
  margin-top: -2%;
}
.services .read i {
  font-size: 20px;
  font-weight: lighter;
}
.about {
  margin-left: 13%;
}
.project {
  margin-left: 13%;
  margin-bottom: 7%;
}
.about h2 {
  color: #0e132a;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  font-family: "Teko", sans-serif;
  z-index: 2;
}
.about .wrapper {
  margin-top: 10%;
  max-width: 100%;
}
.about span {
  font-size: 120px;
  font-weight: 700;
  -webkit-text-stroke: 1px #f6f7f8;
  color: transparent;
  margin: 0;
  line-height: 1;
  position: absolute;
  top: -20px;
  z-index: 1;
}
.about .text {
  margin-top: 27%;
  font-size: 22px;
  color: #0b0b2b;
  margin-bottom: 11%;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.about .text-about {
  margin-bottom: 46px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.about .btn {
  background-color: #ff5f13;
  color: #fff;
  width: 42%;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  border-radius: 5px;
  padding: 4%;
  margin-left: 2.5%;
  background-image: linear-gradient(#be4f13, #be4f13);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
}
.about .btn:hover {
  background-size: 100% 100%;
  background-color: #ff5f13;
  color: #fff;
}
.about .col-img {
  margin-left: 0%;
}
.about .image {
  display: inline;
  width: 89%;
  height: 84%;
  margin-left: 15%;
}
.about .start_year {
  background-color: #1f2b7b;
  color: #fff;
  text-align: center;
  width: 20%;
  height: 30%;
  position: absolute;
  top: 54%;
  left: 15.7%;
}
.about .start_year .year {
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  line-height: 1.2;
  font-size: 63px;
  padding-top: 20%;
}
.about .start_year .word {
  font-weight: 200;
  font-family: "Barlow", sans-serif;
  line-height: 1.2;
  font-size: 17px;
  letter-spacing: 0.4em;
}
.talk:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
}
.talk {
  text-align: center;
  background: url("../img/section-bg2.jpg") center center;
  background-size: cover;
  position: relative;
  min-height: 800px;
  overflow-x: hidden;
}
.talk h2 {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 750;
  padding-left: 3.9%;
}
.talk span {
  font-size: 120px;
  font-weight: 700;
  margin-left: -11.3%;
  line-height: 1;
  position: absolute;
  transform: translateY(-50%);
  right: 0;
  left: 4.3%;
  top: 1.5%;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  z-index: 1;
}
.talk h2,
.talk span {
  margin-top: 13%;
}
.talk h2 {
  margin-left: -12.3%;
}
.talk .text {
  font-family: "Barlow", sans-serif;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  margin-left: 12.4%;
  text-align: left;
}
.buttn {
  background: #fff;
  text-transform: uppercase;
  color: #161e46;
  padding: 1%;
  margin-left: 2.5%;
  font-family: "Barlow", sans-serif;
  width: 10%;
  background-image: linear-gradient(#ff5f13, #ff5f13);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  transition: 0.4s;
  border: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
}
.buttn:hover {
  background-size: 100% 100%;
  color: #fff;
  background-color: transparent;
}
.talk .button {
  margin-left: 19.5%;
}
.talk {
  margin-bottom: 22%;
}
.rectangle {
  background-image: url("../img/section-bg3.jpg");
  position: absolute;
  width: 72%;
  height: 22%;
  margin-left: 12%;
  top: 628vh;
}
.rectangle p {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
/*Nvabar style*/
.top-bar {
  background-color: rgba(25, 26, 51, 1);
  z-index: 9;
  padding: 15px;
  border-bottom: 1px solid #3e4160;
}
.top-bar-info {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
}
.top-bar-info a {
  margin-right: 25px;
}
.top-bar-icons a {
  margin-left: 25px;
}

.top-bar-icons i {
  transform: scaleX(1);
  transition: transform 0.5s;
}

.top-bar-icons a:hover i {
  color: #ff5f13 !important;
  transform: scaleX(-1);
}

nav {
  background-color: rgba(25, 26, 51, 1) !important;
  font-family: "Barlow", sans-serif;
}
.navbar-toggler-icon {
  fill: white !important;
}
.navbar-toggler {
}
nav .btn {
  width: 15%;
  background-color: #ff5f13 !important;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  background-image: linear-gradient(#be4f13, #be4f13);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  font-family: "Barlow", sans-serif;
}

.nav-item {
  cursor: pointer;
  padding: 25px 5px;
}

nav .btn:hover {
  background-color: #be4f13 !important;
  background-size: 100% 100%;
  border-color: transparent !important;
}
nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
nav .nav-item.dropdown:hover .dropdown-item {
  color: black !important;
}
nav .nav-item a {
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  font-family: "Barlow", sans-serif;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 5px solid #ff5f13;
  border-radius: 0;
}

nav .nav-item:hover a {
  color: #ff5f13 !important;
}
/*Header style*/
header {
  background-image: url("../img/header_bg.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  position: relative;
}

.header-service {
  background-image: url("../img/about.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  top: 0;
  right: 0;
  left: 0;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(2, 8, 52, 0.74902) 0%,
    rgba(2, 8, 52, 0.14902) 100%
  );
}
header .text {
  font-size: 140px;
  font-weight: 800;
  color: #f45303;
  position: absolute;
  left: 82px;
  top: 180px;
}
.header-service .text {
  font-size: 60px;
  font-weight: 800;
  color: #ffffff;
  left: 190px;
  top: 150px;
}
header span {
  color: #fff;
  font-size: 18px;
  font-family: "Teko", sans-serif;
  position: absolute;
  left: 108px;
}

.header-service span {
  color: #ff5f13;
  font-size: 29px;
  font-family: "Teko", sans-serif;
  position: absolute;
  left: 130px;
}
header .first-text {
  top: 164px;
}
header .first-text::before {
  content: "";
  display: block;
  position: relative;
  border-top: 3px solid #f45303;
  width: 10%;
  top: 14px;
  right: 28px;
}
.header-service .second-text {
  top: 250px;
  left: 250px;
  font-size: 17px;
  font-family: "Barlow", sans-serif;
}
.header-service .second-text::before {
  content: "";
  display: block;
  position: relative;
  border-top: 1px solid #f45303;
  width: 33%;
  top: 14px;
  right: 60px;
}
header .second-text::before {
  content: "";
  display: block;
  position: relative;
  border-top: 3px solid #f45303;
  width: 30%;
  top: 14px;
  right: 28px;
}
.team-border {
  border-top: 3px solid #f45303;
}
header .second-text {
  top: 440px;
}

.wave-text {
  position: relative;
}

.wave-text h1 {
  font-size: 140px;
  font-weight: 800;
  position: absolute;
  right: -300px;
  top: 200px;
  color: #fff;
  transform: translate(-50%, 50%);
}

.wave-text h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.wave-text h1:nth-child(2) {
  color: #f45303;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 69%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/*Footer Style*/
footer {
  height: 550px;
  background-color: #070b11;
}

footer .sign-up {
  background-color: #070b11;
}
footer .email {
  background-color: #1e293a;
}

footer span {
  font-size: 30px;
  font-weight: 500;
  font-family: "Teko", sans-serif;
}
footer .space {
  margin-top: 20px;
}
.overview {
  margin-top: 4%;
}
.overview p {
  margin-top: 27px;
  font-family: "Barlow", sans-serif;
  line-height: 1.8;
  color: #9fa6bd !important;
}
.links {
  margin-top: 4%;
}

.contact {
  margin-top: 4%;
}
.register {
  margin-top: 3%;
}
.register .button {
  margin-left: 5px;
}

.links li,
.contact li {
  font-family: "Barlow", sans-serif;
  margin-bottom: 20px;
  font-size: 16px;
}

footer .copyright {
  margin-top: 7%;
  font-size: 16px;
  color: #9fa6bd !important;
}
footer .heart {
  color: #f45303;
}
.register img {
  margin-top: 25px;
  width: 80%;
}
footer .overview img {
  width: 35%;
}

footer .web-name {
  color: #f45303;
}

.footer-bar {
  width: 100%;
  height: 15%;
}
footer .item1 {
  color: #868c98;
}
footer .item2 {
  color: #9fa6bd;
}

footer li {
  transform: transition 0.5s;
}
footer a:hover li {
  color: #f45303;
  transform: translateX(4px);
}

input::placeholder {
  padding: 5px;
}

@keyframes slide1 {
  0% {
    transform: translateX(-0.2%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.2%);
  }
}

.animated-image {
  animation: slide1 2s ease-in-out infinite alternate;
}
.project .nav-item {
  color: #161e46;
  font-weight: 500;
  font-size: 16px;
}
.project .nav-item .active {
  color: #ff5f13;
}
.project .column-container {
  display: flex !important;
  justify-content: center;
}
.project .navbar-nav {
  margin-left: 24%;
}
.project .icon-col a {
  color: #0e132a;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 5%;
  transition: 0.55s;
}
.project .icon-col:hover .text-container {
  background-color: #1f1f95;
}
.project .icon-col:hover a {
  color: #fff !important;
}
.project .text-container i {
  color: #fcfdff;
  position: absolute;
  top: -70% !important;
}
.project .icon-col:hover i {
  background-color: #ff5f13;
}
.project .icon-col:hover i {
  color: #fcfdff;
}
.project .text-container {
  width: 89.2%;
}
.team .row {
  margin-left: 11.7%;
}
.team h3 {
  color: #0e132a;
  font-weight: 700;
  font-size: 25px;
  font-family: "Teko", sans-serif;
}
.team .row {
  padding: 10% 0% !important;
  margin-top: -5%;
  margin-left: 6%;
}
.team img {
  width: 100% !important;
  transform: scale(1);
  transition: 0.5s all ease-in-out;
}
.team .zoom:hover img {
  transform: scale(1.1);
}
.team span {
  color: #ff5f13;
  font-size: 14px;
  font-weight: 500;
  font-family: "Teko", sans-serif;
  display: block;
  position: relative;
  margin-left: 30px;
  margin-bottom: 10px;
}

/*Style latest new */
.latest-new {
  margin-left: 10%;
}
.latest-title {
  position: relative;
  height: 180px;
}
.latest-title h2 {
  color: #0e132a;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Teko", sans-serif;
  position: absolute;
  z-index: 8;
  top: 62px;
  left: 0;
}
.latest-title span.back-text {
  font-size: 140px;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #f6f7f8;
  line-height: 1;
  font-family: "Barlow", sans-serif;
  position: absolute;
  top: 0px;
  left: 25px;
  z-index: 6;
}

.latest-new .content-div {
  background-color: #00235b;
  padding: 40px 57px 40px 60px;
}
.latest-new .content-div span {
  color: #a4acc3;
}
.latest-new .content-div h3 {
  margin-bottom: 17px;
  margin-top: 16px;
  line-height: 1.5;
  font-size: 25px;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  transition: color 0.4s;
}
.latest-new .content-div .text-color {
  color: #f45303;
}
.latest-img {
  position: relative;
}
.latest-img .img-div {
  overflow: hidden;
}
.latest-img img {
  width: 100%;
  border: 2px solid #00235b;
  transform: scale(1.1);
}
.latest-img .img-content1 {
  background-color: #f45303;
  position: absolute;
  padding: 15px 34px;
  top: 0px;
  left: 0px;
  font-weight: 600;
}

.latest-img .img-content2 {
  background-color: #f45303;
  position: absolute;
  padding: 15px 34px;
  top: 0px;
  left: 42.4%;
  font-weight: 600;
}

.span1 {
  font-size: 25px;
}
.span2 {
  font-size: 16px;
}

.latest-new .content-div h3:hover {
  color: #f45303 !important;
}

.latest-new .content-div .link {
  border-bottom: none;
  transition: border-bottom 0.5s;
}
.latest-new .content-div .link:hover {
  border-bottom: 1px solid #f45303;
}

/** style testimonial**/

.testimonial {
  height: 703px;
  background-color: #00235b;
  margin-bottom: 30px;
  position: relative;
}
.test-content {
  margin-left: 13%;
}
.test-title {
  margin-top: 20px;
  position: relative;
  height: 180px;
}
.test-title h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Teko", sans-serif;
  position: absolute;
  z-index: 8;
  top: 62px;
  left: 0;
  margin-top: 70px;
}

.test-title span {
  font-size: 140px;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  line-height: 1;
  font-family: "Barlow", sans-serif;
  position: absolute;
  top: -5px;
  left: 14px;
  z-index: 6;
  margin-top: 68px;
}
.test-swipe {
  margin-top: 7%;
  margin-left: 7%;
}
.test-swipe .swipe-p {
  color: #a4acc3;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.test-swipe .founder-text {
  padding-left: 18px;
  margin-top: 35px;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  border-left: 2px solid #f45303;
}
.test-swipe .founder-text p {
  color: #677294;
}

/**About page **/

/*header style*/
.about-header {
  background-image: url("../img/about.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
  top: 0;
  right: 0;
  left: 0;
  position: relative;
  transform: scale(1.2);
}
.about-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(2, 8, 52, 0.74902) 0%,
    rgba(2, 8, 52, 0.14902) 100%
  );
}
.about-header span {
  color: #fff;
  font-family: "Barlow", sans-serif;
  position: absolute;
  left: 15%;
}
.about-header .text-one {
  font-size: 70px;
  font-weight: 900;
  top: 35%;
}
.about-header .text-two {
  font-size: 16px;
  color: #f45303;
  top: 55%;
  left: 20%;
}

.about-header .text-two::before {
  content: "";
  display: block;
  position: relative;
  border-top: 2px solid rgb(244, 83, 3);
  width: 50%;
  top: 14px;
  right: 80px;
}

.about-team .row {
  padding-bottom: 4% !important;
}
.about-footer {
  margin-top: 20px;
}

/**Style contact page **/

.contact-map .map {
  margin-top: 8%;
  margin-left:11%;
  position: relative;
}
.contact-map .map ::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(203, 205, 222, 0.749) 0%,
    rgba(2, 8, 52, 0.14902) 100%
  );
}

.contact-page {
  margin-top: 8%;
  margin-left: 11%;
}
.contact-page .icon-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  color: #2a2a2a;
}
.contact-page .icon-body p {
  color: #8a8a8a;
}
.contact-page .icon-body {
  margin-left: 15px;
}
.contact-page .contact-item {
  margin-bottom: 4%;
}
.contact-page .contact-button {
  margin-top: 6%;
  margin-bottom: 6%;
}
.contact-page .contact-title {
  margin-bottom: 20px;
}
.form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}
.contact-page .symbol {
  color: #8a8a8a;
  font-size: 20px;
}
.contact-page .contact-title h2 {
  color: #0b1c39;
  font-size: 27px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.contact-page .button-contact {
  padding: 15px 35px;
  border: 1px solid #ff5f13;
  color: #ff5f13;
  letter-spacing: 0.2em;
  transition: 0.3s;
}
.contact-page .icon {
  margin-left: 20%;
  margin-bottom: 5%;
}
.contact-page .button-contact:hover {
  background-color: #ff5f13 !important;
  color: #fff;
}

#mytextArea {
  resize: none;
  width: 100%;
  height: 249px;
}
.link_a {
  text-decoration: none;
  color: #ff5f13;
}
.link_a:hover {
  color: #ff5f13;
}
h2 .text_service {
  font-family: "Barlow", sans-serif;
  color: #0b1c39;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.main_section {
  width: 76%;
  margin: auto;
  margin-top: 14%;
}
.main_section img {
  overflow-clip-margin: content-box;
  height: 70vh;
  width: 100%;
}
.text_services_final {
  margin-bottom: 17%;
}
.main_section h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Teko", sans-serif;
  width: 100%;
}
.element_section,
.button_section,
.laligned_section,
.raligned_section,
.definition_section,
.quote_section,
.table_section,
.set_gallery,
.form_gallery {
  width: 80%;
  margin: auto;
  margin-top: 7%;
}
.definition_section h4 {
  font-family: "Barlow", sans-serif;
  color: #0b1c39;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}
.laligned_section {
  width: 93%;
  margin-left: 10%;
}
.raligned_section {
  text-align: right;
}
.element_section,
.button_section h3 {
  font-family: "Barlow", sans-serif;
  color: #0b1c39;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}
.element_section p {
  font-family: "Barlow", sans-serif;
  color: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  font-weight: normal;
}
.word_one {
  font-weight: bold;
  color: #1f2b7b;
}
.word_two {
  font-weight: bold;
}
.word_three {
  font-weight: bold;
}
u,
del,
sub {
  color: #1f2b7b;
}
.button_section button {
  border-radius: 0 !important;
}
.button_section .btn-primary {
  color: #fff;
  background: #1f2b7b;
  border: 1px solid transparent;
}
.button_section .btn-primary:hover {
  color: #1f2b7b;
  background: #fff;
  border: 1px solid #1f2b7b;
}
.button_section .primary:hover {
  color: #fff;
  background: #1f2b7b;
  border: 1px solid transparent;
}
.button_section .primary {
  color: #1f2b7b;
  background: #fff;
  border: 1px solid #1f2b7b;
}
.button_section .btn-success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}
.button_section .btn-success:hover {
  color: #4cd3e3;
  background: #fff;
  border: 1px solid #4cd3e3;
}
.button_section .success:hover {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}
.button_section .success {
  color: #4cd3e3;
  background: #fff;
  border: 1px solid #4cd3e3;
}
.button_section .btn-info {
  color: #fff;
  border: 1px solid transparent;
  background: #38a4ff;
}
.button_section .btn-info:hover {
  color: #38a4ff;
  background: #fff;
  border: 1px solid #38a4ff;
}
.button_section .info:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #38a4ff;
}
.button_section .info {
  color: #38a4ff;
  background: #fff;
  border: 1px solid #38a4ff;
}
.button_section .btn-warning {
  color: #fff;
  border: 1px solid transparent;
  background: #f4e700;
}
.button_section .btn-warning:hover {
  color: #f4e700;
  background: #fff;
  border: 1px solid #f4e700;
}
.button_section .warning:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #f4e700;
}
.button_section .warning {
  color: #f4e700;
  background: #fff;
  border: 1px solid #f4e700;
}
.button_section .btn-danger {
  color: #fff;
  border: 1px solid transparent;
  background: #f44a40;
}
.button_section .btn-danger:hover {
  color: #f44a40;
  background: #fff;
  border: 1px solid #f44a40;
}
.button_section .danger:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #f44a40;
}
.button_section .danger {
  color: #f44a40;
  background: #fff;
  border: 1px solid #f44a40;
}
.button_section .btn-link {
  color: #415094;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent;
}
.button_section .disable {
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed;
  color: #1696e7;
}
.button_section .disable:hover {
  color: transparent;
}
.button_section .default {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent;
}
.button_section .btn_default {
  color: #1696e7;
}
.button_section .btn {
  width: 15vh;
  font-size: 13px;
  height: 6vh;
}
.b-section-two .btn {
  border-radius: 3px !important;
}
.b-section-three .btn {
  border-radius: 27px !important;
}
.b-section-four .btn {
  border-radius: 35px !important;
}
.e-lg {
  padding: 2vh 0;
  height: 8vh !important;
  width: 21vh !important;
}
.lg-b {
  padding: 2vh 0;
  height: 7vh !important;
  width: 13vh !important;
}
.d-b {
  height: 5vh !important;
  width: 15vh !important;
}
.m-b {
  height: 4vh !important;
  width: 13vh !important;
}
.s-b {
  height: 3.3vh !important;
  width: 13vh !important;
  padding-top: 0.15% !important;
}
.q-block {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #1f2b7b;
}
.table_section table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}
.table_section table th {
  font-weight: normal !important;
}
.table_section .section-t {
  padding-top: 2%;
  height: 12%;
}
.table_section .section-t1 {
  border-bottom: #6382e6 6px solid;
  width: 60% !important;
}
.table_section .section-t2 {
  border-bottom: #e66686 6px solid;
  width: 20% !important;
}
.table_section .section-t3 {
  border-bottom: #f09359 6px solid;
  width: 40% !important;
}
.table_section .section-t4 {
  border-bottom: #73fbaf 6px solid;
  width: 44% !important;
}
.table_section .section-t5 {
  border-bottom: #73fbaf 6px solid;
  width: 25% !important;
}
.table_section .section-t6 {
  border-bottom: #6382e6 6px solid;
  width: 56% !important;
}
.table_section .section-t7 {
  border-bottom: #a367e7 6px solid;
  width: 17% !important;
}
.table_section .section-t8 {
  border-bottom: #e66686 6px solid;
  width: 47% !important;
}
.table_section .f-t-s {
  width: 11.83%;
  padding-left: 30px;
  line-height: 40px;
  text-transform: uppercase;
}
.f-n {
  color: #415094;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}
.scrollit {
  overflow-x: scroll;
}
.image_gallery {
  width: 90%;
  padding-left: 12%;
  margin-top: 7%;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.last-img {
  margin-top: -12%;
}
.header-col {
  color: #828bb2;
}
.u-r-l:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #1f2b7b;
  background: #fff;
  top: 15px;
  left: 15px;
  border-radius: 50%;
}
.u-r-l:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #1f2b7b;
  background: #fff;
  top: 52px;
  left: 15px;
  border-radius: 50%;
}
.main-block:after{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #1f2b7b;
  background: #fff;
  top: 86px;
  left: 15px;
  border-radius: 50%;
}
.main-block:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #1f2b7b;
  background: #fff;
  top: 190px;
  left: 15px;
  border-radius: 50%;
}
.li-first:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #1f2b7b;
  background: #fff;
  top: 228px;
  left: 15px;
  border-radius: 50%; 
}
.li-first:after{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #1f2b7b;
  background: #fff;
  top: 262px;
  left: 15px;
  border-radius: 50%; 
}
.li-second:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #1f2b7b;
  background: #fff;
  top: 148px;
  left: 81px;
  border-radius: 50%; 
}
.li-second:after{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #1f2b7b;
  background: #fff;
  top: 118px;
  left: 50px;
  border-radius: 50%; 
}
.form_gallery input:focus::placeholder {
  color: transparent;
}
.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
}
.form_gallery input {
  background: #f9f9ff;
  border: none;
  outline: none;
}
.form_gallery .fas {
  font-size: x-small;
  font-style: normal;
}
.form_gallery input, textarea{
  -webkit-appearance: none;
  box-shadow: none !important;
}
.form-gallery input:focus,
textarea:focus{
  outline: none;
}
#fname.active,
#lname-1.active,
#lname-2.active,
#input-email.active,
#address-txt.active,
#p-txt.active,
#s-txt.active,
#a-txt.active {
  background: #f9f9ff;
}
/*Blog style*/
.blog-parts{
  margin-left:8%;
  margin-top:11%;
}
.post-content{
  width:99.9%;
  padding-top:4%;
  padding-right:4%;
  padding-left:4%;
  padding-bottom:5px;
  border:1px solid rgba(0,0,0,0.1);
}
.post{
  width:100%;
}
.card-img{
  width:100%;
}
.post-content {
  font-family: "Barlow", sans-serif;
}
.post-content h2{
  font-size:24px;
  font-weight: 600;
  margin-bottom:15px;
}
.post-detail{
  margin-top:6%;
  color:#999999;
  font-size:14px;
}
.fa-solid{
 
  color:#999999;
  font-size:14px; 
  margin-right:5px;
}
.blog-line{
  margin-right:8px;
  position: relative;
}
.blog-line::after{
position:absolute;
content:'';
right:-6px;
top:0;
border:1px solid #999999;
height:16px;
width:1px'
}
.post{
  margin-bottom:3%;
}
.post-content h2:hover{
color:#ff5f13;
}
.post{
  position: relative;
}
.date-div{
  background-color: #f45303;
  position: absolute;
  padding: 8px 34px;
  bottom:198px;
  left: 45px;
  font-weight: 600;
  color:#fff;
  border-radius:5%;
  transition:0.3s;
}
.date-div:hover{
  background-color: transparent;
  color:#f45303;
}
.date-div p{
  font-size:30px;
  margin-bottom:2px;
}
.date-div span{
  font-size:18px; 
}
.post-detail i:hover{
  color:#ff5f13;
}
.post-detail span:hover {
  color:#ff5f13;
}
.blog-several{
  width:30%;
}
.first-item{
  padding-top: 4%;
  padding-left: 12%;
  height:5%;
  background-color:#fbf9ff;
}

.search-part{
  width:75%;
  margin-right: -12px;
 
}
.search-icon{
  width:10%;
  background-color:#ff5f13;
  position:relative;
 
}
.search-icon i{
position:absolute;
top:15px;
left:10px;
color:white;
font-size:16px !important;
}

.search-input:focus{
  outline: none !important;
  border-color:initial !important;
}
.search-btn{
padding:4%;
margin-top:10px;
border-color:#ff5f13;
background-color:white;
color:#ff5f13;
letter-spacing:0.2em;
width:84%;
box-shadow:none;
border-radius:0 !important;
font-size:14px;
}

.search-btn:hover{
  background-color:#ff5f13;
  color:white;
}
/*category items*/
.second-item{
  margin-top:7%;
  padding-top: 4%;
  padding-left: 12%;
  height:13%;
  background-color:#fbf9ff;
 
}


.second-item span{
font-size:20px;
font-weight:600;
padding-bottom:40px;
margin-right:20px;
font-family: "Barlow",sans-serif;
color: #0b1c39;
}

.second-item ul{
  margin-left:-32px;
  margin-right:20px;
}
.second-item li:nth-child(1){
  margin-top:5%;
  border-top:1px solid rgba(0,0,0,0.1);
  padding-top:12px;
}
.second-item li{
  font-family: "Barlow",sans-serif; 
  color: #888888;
 font-size:16px;
  margin-bottom:5%;
  padding-bottom:12px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  transition:0.3s;
}

.second-item li:hover{
  color:#ff5f13;
}
.post-item{
  flex-wrap:nowrap;
}
.third-item{
  margin-top:7%;
  padding-top: 4%;
  padding-left: 12%;
  height:13%;
  background-color:#fbf9ff;
}

.third-item span{
  font-size:20px;
  font-weight:600;
  font-family: "Barlow",sans-serif;
  color: #0b1c39;
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding-bottom:5%;
}

.third-item p{
  margin-bottom: 0rem;
}
.post-item{
  margin-top:4%;
}
.first-post{
  margin-top:5%;
  padding-top:5%;
}

.third-item .p1{
font-size:16px;
color:#0b1c39;
font-weight:500;
transition:0.2s;
}
.third-item .p2{
  font-size:14px;
  color:#212529;
}
.third-item .p1:hover{
  color:#ff5f13;
}

.fourth-item{
  margin-top:7%;
  padding-top: 4%;
  padding-left: 12%;
  height:8%;
  background-color:#fbf9ff;
}

.fourth-item span{
  font-size:20px;
  font-weight:600;
  font-family: "Barlow",sans-serif;
  color: #0b1c39;
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding-bottom:5%;
}
.fourth-item .buttons{
  margin-top:11%;
}
.fourth-item .tag-btn{
  border-color:#eeeeee !important;
  background: #fff;
  padding: 4px 20px;
  margin-bottom: 8px;
  margin-right: 3px;
  transition: all 0.3s ease 0s;
  color: #888888;
  font-size: 13px;
  border-radius:0 !important;
  transition: 0.3s;
}
.fourth-item .tag-btn:hover{
  background-color:#ff5f13;
  color:white;
}
.fifth-item{
  margin-top:7%;
  padding-top: 4%;
  padding-left: 12%;
  height:11%;
  background-color:#fbf9ff;
}
.fifth-item span{
  font-size:20px;
  font-weight:600;
  font-family: "Barlow",sans-serif;
  color: #0b1c39;
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding-bottom:5%;
}
.fifth-item .insta-imgs{
margin-top:12%;
}
.fifth-item .insta-imgs img{
  margin-right:3%;
  margin-bottom:4%;
}

.last-item{
  margin-top:7%;
  padding-top: 4%;
  padding-left: 12%;
  height:8%;
  background-color:#fbf9ff;
 
}
.last-item span{
  font-size:20px;
  font-weight:600;
  font-family: "Barlow",sans-serif;
  color: #0b1c39;
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding-bottom:5%;
}

.last-item .last-part{
  margin-top:10%;
  width:84%;
}
.ol-num-1 li, .ol-num-2 li {
  list-style:decimal-leading-zero;
  list-style-position: inside;
}
.ol-num-2 li {
  padding-left: 6%;
}
.ol-char li {
  list-style:lower-alpha;
  list-style-position: inside;
}
.ol-i li {
  list-style:lower-roman;
  list-style-position: inside;
}
.switch, .switch-1 {
	position: relative;
	display: block;
	vertical-align: top;
	width: 40px;
	height: 20px;
	padding: 3px;
	margin: 0 0px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input, .switch-input-1 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label, .switch-label-1{
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing: content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-label-1:before, .switch-label-1:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing: content-box;
}
.switch-label-1:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label-1:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label {
	background: #1f2b7b;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input-1:checked ~ .switch-label-1 {
	background: #4cd3e3;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input-1:checked ~ .switch-label-1:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-input-1:checked ~ .switch-label-1:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 18px;
	height: 18px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 20%;
	margin: -6px 0 0 -6px;
	width: 2px;
	height: 2px;
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 25px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle-1 {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 18px;
	height: 18px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle-1:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 20%;
	margin: -6px 0 0 -6px;
	width: 2px;
	height: 2px;
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input-1:checked ~ .switch-handle-1 {
	left: 25px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* Transition
========================== */
.switch-label, .switch-handle,.switch-label-1, .switch-handle-1 {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
.title-r{
  margin-left: -8%;
}
/* Customize the label (the container) */
.containert {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containert input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark, .checkmark-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containert:hover input ~ .checkmark {
  background-color: #ccc;
  opacity: 0.8;
  font-weight: 100;
}
/* On mouse-over, add a grey background color */
.containert:hover input ~ .checkmark-1 {
  background-color: #ccc;
  opacity: 0.8;
  font-weight: 100;
}
/* When the checkbox is checked, add a blue background */
.containert input:checked ~ .checkmark {
  background-color: #e47883;
  opacity: 0.8;
}
.containert input:checked ~ .checkmark-1 {
  background-color: #2b2a2a;
  opacity: 0.8;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containert input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containert .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.containert .disable{
  cursor: not-allowed;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containert input:checked ~ .checkmark-1:after {
  display: block;
}

/* Style the checkmark/indicator */
.containert .checkmark-1:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.t-o-n{
  margin-left: -6vh !important;
}



/* custom radio button */
.containerty .check {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: lightgray;
  border-radius: 50%;
}

.containerty:hover input ~ .check {
  background-color: gray;
}

.containerty input:checked ~ .check {
  background-color: #e47883;
}

.containerty .check:after {
  content: "";
  position: absolute;
  display: none;
}

.containerty input:checked ~ .check:after {
  display: block;
}

.containerty .check:after {
 	top: 4px;
	left: 4px;
	width: 5.4px;
	height: 5.4px;
	border-radius: 50%;
	background: white;
}
/* Hide the default radio button */
.containerty input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.containerty {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 25px;
}
.ol-num-1 li{
  color: #1f2b7b;
  font-weight: bold;
}
.ol-num-1 li span{
  color: #828bb2;
  font-weight: normal;
}
.set_gallery .ct{
  width: 25%;
}


#myImg, #myImg_1, #myImg_2,#myImg_3,#myImg_4,#myImg_5,#myImg_6,#myImg_7{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* The Modal (background) */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(99, 95, 95); /* Fallback color */
  background-color: rgb(99, 95, 95); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close, .close_0 , .close_1, .close_2, .close_3, .close_4, .close_5, .close_6{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus,.close_0:hover,
.close_0:focus, .close_1:hover,
.close_1:focus,.close_2:hover,
.close_2:focus,.close_3:hover,
.close_3:focus,.close_4:hover,
.close_4:focus,.close_5:hover,
.close_5:focus,.close_6:hover,
.close_6:focus{
  text-decoration: none;
  cursor: pointer;
}
.l-select{
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px;
    color:#878b8e;
    border: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    border:0px;
    outline:0px;
}